$body-background-color: #243a87;
$body-text-color: #e0b6f6;
$link-color: #ff9eae;
$nav-child-link-color: #a7b5ff;
$body-heading-color: #ffe1e7;
$sidebar-color: #2f4899;
$body-font-family: "Source Code Pro", monospace;
$border-color: #3857b0;
$code-background-color: #2f4899;
$footer-text-color: #e0b6f6;
